{% extends "index.html" %} {% load staticfiles %} {% block content %}
<link rel="stylesheet" href={% static "css/feed.css" %}>

<div class="container">
    <div class="row">
        <div class="col-6 text-left">
            <div class="feed-heading">
            Contest List
        </div>
        </div>
        <div class="col-6 text-right">
            <div class="feed-heading">
            Filter By
        </div>
        </div>
        <div class="col-8">
            {% for obj in contest_list %}
            <div class="card feed-item">
                <div class="card-body">
                    <h3 class="card-title"> <a href="{{obj.get_absolute_url}}"> {{obj.title}} </a> </h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="card-text"> {{obj.description | truncatewords:10}} </div>
                            </div>
                            <div class="col-4">
                                <div class="card-text text-right"> {{obj.creator.user.username}} </div>
                                <a class="signup-btn" data-href="{{obj.get_signup_url}}" href="#">{% if user.profile in obj.participants.all %} Signed Up {% else %} Sign Up {% endif %} </a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col-4">
            <div class="card feed-item">
                <div class="card-body">
                    <h2 class="card-title text-center"> Ongoing Contests </h2>
                    <hr>
                    <!--Table-->
                    <table class="table table-hover text-center ongoing table-sm">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Ends at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in contest_list %}
                            <tr>
                                <td>{{obj.title}}</td>
                                <td>{{obj.end_contest|date:"g:i a"}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}