{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="alert alert-danger">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Inactive account:{% trans "This account is inactive." %}</b>
               </div>
            </div>
<center>
<h1>{% trans "Account Inactive" %}</h1>
<p>Please Contact the Service provider for Solving the Issue</p>
</center>            
{% endblock %}
