{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
	<center>
	    <div class="container">
	        <div class="rows">
	            <div class="col-lg-6 col-md-8 col-sm-10">
	                <div class="card feed-item" style="background-color:rgb(255,255,200)">
	                    <div class="card-body">
	                        <div class="container">
	                            <div class="row">
	                                <div class="col-12">
	                                <h1>{% trans "Password Reset" %}</h1>
								    {% if user.is_authenticated %}
								    {% include "account/snippets/already_logged_in.html" %}
								    {% endif %}

								    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
	                                  <form method="POST" action="{% url 'account_reset_password' %}">
	                                  {% csrf_token %}
										  <div class="form-group">
										    <label for="exampleInputEmail1">Email address</label>
										    <!--
										    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
										    -->
										    {{ form.as_p }}
										    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
										  </div>
										  <div class="form-check">
										      <label class="form-check-label">
										          <input class="form-check-input" type="checkbox" value="">
										          Furthur Option
										          <span class="form-check-sign">
										              <span class="check"></span>
										          </span>
										      </label>
										  </div>
										  <input type="submit" class="btn btn-danger" value="{% trans 'Reset My Password' %}" />
										</form>
	                                 	<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</center>
{% endblock %}
