{% extends 'index.html' %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js' type="text/javascript" ></script>

<script type="text/javascript">
$(document).ready(function() {
	$(".content-markdown").each(function() {
		var statement = $(this).text()
		console.log(statement)
		var markedContent = marked(statement)
		console.log(markedContent)
		$(this).html(markedContent)
	})
})
</script>

{% block content %}
{% for obj in problem_list %}
<h2> {{obj.title}} </h2>
<div class="content-markdown">
{{obj.statement}}
</div>
{% endfor %}
{% endblock %}