{% extends "index.html" %} {% load staticfiles %} {% block content %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js' type="text/javascript"></script>
<link rel="stylesheet" href={% static "css/feed.css" %}>
<link rel="stylesheet" href={% static "filter/css/style.css" %}> {% block head_extra %} {{ form.media }} {% endblock head_extra %}
<style type="text/css">
.wmd-panel {
    margin: 0;
    width: 100%;
}

.wmd-input {
    min-height: 300px;
    background-color: #fafafa;
}

body {
    background-color: #E5E5E5;
}

.head {
    background-color: #F8F8F8;
    min-height: 100px;
    color: #fff;
}

.head .card-title {
    margin-top: 2rem;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link:focus {
    color: #263238 !important;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: transparent;
    border-bottom: solid 3px #424242 !important;
}

.nav-tabs .nav-item .nav-link.active:hover {
    background-color: transparent;
    border-bottom: solid 3px #000000 !important;
}

.nav-tabs .nav-item .nav-link {
    background-color: transparent;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: transparent;
    border-bottom: solid 3px #aaa !important;
}

.test-update {
    padding-left: 5px;
    padding-right: 5px;
}

a,
a:focus {
    color: #212121;
}

a:hover {
    color: #01579B;
}

.btn-col:hover {
    background-color: #f44336;
}

.btn-col:focus {
    background-color: #ef5350;
}

.modal-dialog {
    max-width: 840px;
    padding-left: 0;
}

.select {
    float: right;
}
</style>
<div class="container feed-container">
    <div class="row">
        <div class="col-12">
            <div class="card feed-item">
                <div class="head">
                    <h3 class="card-title text-center"> {{obj.title | title}} </h3>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href={% url "problem_manage" obj.slug %}>Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href={% url "problem_testcase" obj.slug %}>Testcases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#messages">Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-12 table-responsive">
                                <table class="table table-hover text-center" id="testcase-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Input</th>
                                            <th scope="col">Output</th>
                                            <th scope="col">Weight</th>
                                            <th scope="col">Sample</th>
                                            <th scope="col">Settings</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for testcase in testcases %}
                                        <tr>
                                            <td><a href={{testcase.input.url}}>Input File</a></td>
                                            <td><a href={{testcase.output.url}}>Output File</a></td>
                                            <td>{{testcase.weight}} </td>
                                            <td>
                                                {{testcase.sample}}
                                            </td>
                                            <td>
                                                <a class="test-update" href="#" data-toggle="modal" data-target="#editTestCase" data-key="{{testcase.pk}}">
                                    <i class="material-icons i-sm">edit</i></a>
                                                <button class="btn btn-fab btn-fab-mini btn-round p-del" data-id="{{testcase.pk}}">
                                    <i class="material-icons i-sm">delete</i></button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <center>
                                    <button class="btn btn-col btn-round" data-toggle="modal" data-target="#addTestCase">Add Testcase</button>
                                </center>
                            </div>
                            <div class="modal fade" id="addTestCase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">TestCase</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="add-form" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            <label for="input_file">Input</label>
                                                            <input type="file" name="input" id="input_file" class="form-control">
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <label for="output_file">Output</label>
                                                            <input type="file" name="output" id="output_file" class="form-control">
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlInput1">Weight</label>
                                                                <input type="number" class="form-control" id="weight" name="weight" placeholder="0">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" value="" name="sample"> Sample
                                                                    <span class="form-check-sign">
            <span class="check"></span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="exampleFormControlTextarea1">Explanation</label>
                                                                <textarea name="explanation" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                            </div>
                                                            <input type="hidden" name="problem" value="{{obj.id}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit">Submit</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function addCase(data) {
        console.log(data.input);
        $("#testcase-table > tbody:last-child").after('Added');
    }

    $("#add-form").submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        var url = "/problems/api/testcase/"; // the script where you handle the form input.
        var this_ = this
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            success: function(data) {
                addCase(this_);
            },
            error: function(error) {
                console.log(error)
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

        function update(btn) {
            btn.closest('tr').remove();
        }
        $(".p-del").click(function(e) {
            e.preventDefault();
            var this_ = $(this);
            var likeUrl = "/problems/api/testcase/" + this_.attr("data-id") + "/";

            console.log(likeUrl)
            $.ajax({
                url: likeUrl,
                method: "DELETE",
                data: {},
                success: function(data) {
                    console.log(data)
                    update(this_)

                },
                error: function(error) {
                    console.log(error)
                }

            });
        });
    });
</script>
{% endblock %}