{% load staticfiles %}
<html>

<head>
    <title>CodeArea | IIT Ropar</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href={% static "material-kit/css/material-kit.css" %}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src={% static "ace/src/ace.js" %} charset="utf-8"></script>
    <script src={% static "ace/src/ext-language_tools.js" %}></script>
    <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }

    #editor {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 70;
        left: 0;
        right: 50%;
        width: 100%;
    }

    #lang-group {
        margin: 0;
        position: absolute;
        bottom: 20;
        left: 39%;
        width: 10%;
        height: 5%;
    }

    #btn-run {
        margin: 0;
        position: absolute;
        bottom: 20;
        left: 2%;
    }
  
     #font-group{
    	margin: 0;
    	position: absolute;
    	bottom: 20;
    	left: 27%;
    	width: 8%;
    	height: 5%;
    }
    #theme-group{
    	margin: 0;
    	position: absolute;
    	bottom: 20;
    	left: 8%;
    	width: 8%;
    	height: 5%;
    }

    .form-improve {
        position: absolute;
        bottom: 0;
    }

    #output {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 70;
        left: 50%;
        right: 0;
    }
    </style>
</head>

<body>
    <!-- <div class="panel" style="height: 100%;font-family: 'Ubuntu', sans-serif; border-color: #03295e">
	<div class="panel-heading"><b>CodeArea</b></div> -->
    <div id="editor"></div>
    <div class="form-group form-improve" id="lang-group">
        <select class="form-control" name="quantity" id="language" onchange="changeLanguage()">
            <option value="python2">Python 2.7</option>
            <option value="python3">Python 3.6</option>
            <option value="golang">GO</option>
            <option value="C">C</option>
            <option value="cpp14">C++14</option>
            <option value="java">Java 8</option>
        </select>
    </div>
    <div class="form-group form-improve" style="margin-right: 20px;" id="font-group">
        <select class="form-control" name="quantity" id="fontsize" onchange="changeFontSize()">
            <option value="m">Medium</option>
            <option value="s">Small</option>
            <option value="l">Large</option>
        </select>
    </div>
    <div class="form-group form-improve" style="margin-right: 20px" id="theme-group">
        <select class="form-control" name="quantity" id="themeset" onchange="changeTheme()">
            <option value="ace/theme/eclipse">Eclipse</option>
            <option value="ace/theme/solarized_light">Solarized Light</option>
            <option value="ace/theme/solarized_dark">Solarized Dark</option>
            <option value="ace/theme/twilight">Twilight</option>
        </select>
    </div>
    <!-- 	</div>
</div> -->
    <script type="text/javascript">
    ace.require("ace/ext/language_tools");
    ace.require("ace/ext/searchbox");
    ace.require("ace/ext/keybinding_menu");
    ace.require("ace/ext/linking");
    //var beautify = ace.require("ace/ext/beautify"); // get reference to extension
    var editor = ace.edit("editor"); // get reference to editor
    //beautify.beautify(editor.session);
    editor.setTheme("ace/theme/eclipse");
    editor.session.setMode("ace/mode/python");
    editor.setFontSize(14);
    editor.setValue("# This is your CodeArea\n");
    //editor.setKeyboardHandler("ace/keyboard/vim");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: false,
        enableLiveAutocompletion: true
    });

    function changeTheme() {
        var themeVal = document.getElementById("themeset").value;
        editor.setTheme(themeVal);
    }
		
	

    function changeFontSize() {
        var fontsize = document.getElementById("fontsize").value;
        switch (fontsize) {
            case ("s"):
                editor.setFontSize(12);
                break;
            case ("m"):
                editor.setFontSize(15);
                break;
            case ("l"):
                editor.setFontSize(17);
                break;
        }
    }

    function changeLanguage() {
        var language = document.getElementById("language").value;
        var editor = ace.edit("editor");
        editor.setValue("//This is your CodeArea\n");
        if (language == "python2" || language == "python3") {
            editor.session.setMode("ace/mode/python");
            editor.setValue("# This is your CodeArea");
            return;
        } else if (language == "cpp14" || language == "C") {
            editor.session.setMode("ace/mode/c_cpp");
            editor.setValue("// This is your CodeArea");
            return;
        }
        var mode = "ace/mode/" + language;
        editor.session.setMode(mode);
        if (language == "java") {
            editor.setValue("// This is your CodeArea\n\n/*\n*  Don't change public class name --CodeArea--\n*  Don't add package name\n*/\n\npublic class CodeArea {\n\n\tpublic static void main (String[] args) {\n\n\t}\n}");
            return;
        } else if (language == "golang") {
            editor.setValue("// This is your CodeArea\n\npackage main\nimport \"fmt\"\n\nfunc main(){\n\t// your code goes here\n\n}");
            return;
        }
    }

    function getLangId(lang) {
        switch (lang) {
            case "python2":
                return 0;
            case "python3":
                return 1;
            case "golang":
                return 2;
            case "C":
                return 3;
            case "cpp14":
                return 4;
            case "java":
                return 5;
        }
    }

    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#language').select2();
        $('#themeset').select2();
        $('#fontsize').select2();
    });
    </script>
    <script type="text/javascript" src={% static "material-kit/js/core/popper.min.js" %}></script>
    <!-- Bootstrap core JavaScript -->
    <!--   Core JS Files   -->
    <script type="text/javascript" src={% static "material-kit/js/bootstrap-material-design.min.js" %}></script>
    <script src={% static "/material-kit/js/plugins/moment.min.js" %}></script>
    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src={% static "/material-kit/js/plugins/bootstrap-datetimepicker.min.js" %}></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src={% static "/material-kit/js/material-kit.js" %}></script>
</body>
