{% extends "index.html" %} {% load staticfiles %} {% block content %}
<script type="text/javascript" src={% static "js/jquery.autocomplete.js" %}></script>

<link rel="stylesheet" href={% static "css/feed.css" %}>
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.js' type="text/javascript" ></script>
<link rel="stylesheet" href={% static "filter/css/style.css" %}>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src={% static "filter/js/modernizr.js" %}></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".content-markdown").each(function() {
        var statement = $(this).text()
        console.log(statement)
        var markedContent = marked(statement)
        console.log(markedContent)
        $(this).html(markedContent)
    })
})
</script>
<style type="text/css">
    .card-title{
        margin-bottom: 0;
    }
    .part-count{
        padding-top: 0;
    }
    .feed-time{
        padding: 0;
    }
    .card .card-post{
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
    .card-text p{
        font-size: 0.75rem;
        letter-spacing: 1px;
    }
    .autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
</style>
<div id="cd-nav" class="is-fixed">
    <a href="#" class="cd-nav-trigger">Menu<span></span></a>
    <div id="cd-main-nav">
            <ul>
                <li>
                    <a href="/posts/create/">
                    <button class="btn btn-red btn-round btn-sm"><i class="material-icons">add</i> New Post</button>
                </a>
                </li>

            </ul>
    </div>
</div>

<div class="container feed-container">
    <div class="row">
        <!--  <div class="col-sm-6 text-left">
            <div class="feed-heading">
            Contest List
        </div>
        </div>
        <div class="col-6 text-right">
            <div class="feed-heading">
            Filter By
        </div>
        </div> -->

        <div class="col-sm-12 col-md-8">
            <div class="container-fluid">
                <div class="row">
            {% for obj in post_list %}
            <div class="col-12 col-md-6">
            <div class="card feed-item">
                <div class="card-body card-post">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 feed-title text-center">
                                <h4 class="card-title"> <a href="{{obj.get_absolute_url}}"> {{obj.title}} </a> </h4>
                                <small>
                                <div class="card-text part-count"> author: {{obj.author.user.username}} </div>
                            </small>
                            </div>
                            <div class="col-4 text-right">
                            </div>
                            <div class="col-12">
                                <div class="card-text content-markdown"> {{obj.content | truncatewords:50}} </div>
                            </div>
                            
                            <div class="col-12 feed-time text-right">
                                <button class="btn btn-fab btn-fab-mini btn-round btn-link like-btn {% if user.profile in obj.likes.all %} btn-rose {% else %} btn-unlike {% endif %} " data-href="{{obj.get_likes_api_url}}">
                                    <i class="material-icons">favorite</i>
                                </button>
                                <div class="count">
                                {{obj.likes.count}}
                            </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
        </div>
    </div>
            <br>
                                <br>
                             
                                <ul class="pagination justify-content-center">
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.previous_page_number }}">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ post_list.previous_page_number }}">{{ post_list.previous_page_number }}</a></li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#"> {{post_list.number}} <span class="sr-only">(current)</span></a>
                </li>
                {% if post_list.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ post_list.next_page_number }}">{{ post_list.next_page_number }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
                {% endif %}
            </ul>
    </div>
<div class="col-12 col-md-4">
        <div class="card feed-item" >    
            <div class="card-body">
                <form method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" id="search" name="title">
                        <div class="input-group-append">
                            <button class="btn btn-rose btn-fab btn-fab-mini btn-round btn-link" type="submit"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card feed-item" >
            <div class="card-body">
                <h3 class="card-title text-center"> FILTER </h3>
                <form method="GET" action={% url "post_list" %}>
                
                    <div class="form-group">
                        <label for="Tags">Tags</label>
                        <select class="form-control select-tags" id="Tags" multiple="multiple" name="tags">
                        
                        </select>
                    </div>
                    <center>
                    <button type="submit" class="btn btn-red">Filter</button>
                	</center>
                </form>
            </div>
        </div>
    </div>
</div>
<script src={% static "filter/js/main.js" %}></script>
<script type="text/javascript">
    $(document).ready(function() {
    $('.select-tags').select2();
    $('#search').autocomplete({
        serviceUrl: '/posts/api/posts/',
        paramName: 'search',
        transformResult: function(response) {
            response = JSON.parse(response);
            return {
                suggestions: $.map(response, function(dataItem) {
                    return { value: dataItem.title, data: dataItem.id, code: dataItem.problem_code };
                })
            };
        },

        onSelect: function(suggestion) {
            // alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
            $('#problem').val(suggestion.data);
            $.suggestionNamespace.selected = suggestion;
            console.log($.suggestionNamespace.selected);

        },
        showNoSuggestionNotice: true,
        noSuggestionNotice: 'Sorry, no matching results'
    });

    function addTags(data){
        var i;
        for(i=0;i<data.length;++i){
            $("#Tags").append("<option value = " + data[i]['id'] + ">" + data[i]['name'] + "</option");
        }
    }
    $.ajax({
            url: '/tags/api/tags/',
            method: "GET",
            data: {},
            success: function(data) {
                console.log(data)
                addTags(data);

            },
            error: function(error) {
                console.log(error)
            }

        });
});

</script>

{% endblock %}
