.feed-item{
	padding: 0;
	margin: 10px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.05), 0 1px 1px 0 rgba(0,0,0,.05);
}

.feed-author{
	font-size: 1rem;
}

.feed-time{
	padding-top: 5px;
	cursor: pointer;
	opacity: 0.75;
	padding-right: 20px;
}

.btn-col{
	background-color: #ef5350 ;
	border-color: #ef5350 ;
}

.btn-unlike{
	background-color: transparent; ;
	border-color: #eeeeee ;
}

.contest-sign{
	margin-top: 5px;
	margin-bottom: 5px;
}

.part-count{
	padding-top: 5px;
}

.i-sm{
	font-size: 18px;
}

.count{
	display: inline-block;
}